//.grid
//  .gridItemA
//    img(src="https://placehold.jp/400x400.png")
//  .gridItemB
//    img(src="https://placehold.jp/200x200.png")
//  .gridItemC
//    img(src="https://placehold.jp/200x200.png")
//  .gridItemD
//    img(src="https://placehold.jp/400x200.png")

.grid_s
  .gridA
  .gridB
  .gridC
  .gridD

#container
  div A
  div B
  div C
  div D
  div E
  div F
