header.l-Header
  .p-Header
    .p-Header__inner
      nav.p-Header__nav
        ul.p-Nav
          li: a(href="") Information
          li: a(href="") About
          li: a(href="") Shops
          li: a(href="") Access

