#app {
  margin: 30px;
}

.grid_auto-fill {
  display: grid;
  //grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  grid-template-columns: repeat(auto-fit,300px);
  gap: 10px;
  margin: 0 0 50px;
}

.grid_auto-fit {
  display: grid;
  //grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-template-columns: repeat(auto-fill,300px);
  gap: 10px;
}

.grid__item {
  height: 50px;
  border: 1px solid #000;
  background-color: orange;
}

p {
  font-size: 28px;
  margin: 0 0 10px;
}

.grid_minmax {
  display: grid;
  grid-template-columns: 100px minmax(50px,200px) 150px minmax(20px,400px);
}
