.grid {
  display: grid;
  gap: 10px;
  //最大で300px使用可能になる 要素がそれより小さい場合はそれに応じて小さくなる
  grid-template-columns: fit-content(300px) 1fr;
}
.grid__item1 {
  background-color: blue;
}

.grid__item2 {
  background-color: red;
}

.grid__item3 {
  background-color: pink;
}

#container {
  display: grid;
  grid-template-columns: fit-content(300px) fit-content(300px) 1fr 1fr;
  grid-gap: 5px;
  box-sizing: border-box;
  height: 200px;
  width: 100%;
  background-color: #8cffa0;
  padding: 10px;
}

#container > div {
  background-color: #8ca0ff;
  padding: 5px;
}
