.container {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template:
    'header header header  header' auto
    'article article article sidenav' auto
  / 25% 25% 25% 25%;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  padding: 30px 50px;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin: 0 10px;
}

.article__list {
  grid-area: article;
}

.sidenav {
  grid-area: sidenav;
}
