.grid {
  display: grid;
  gap: 10px;
  grid-template:
    'item1 item1 item2' 200px
    'item3 item4 item4' 400px
    / minmax(100px, 200px) 350px 500px;
  justify-content: space-between;
  height: 1000px;
  align-content: center;
  place-content: space-between center;
}
.grid__item1 {
  background-color: blue;
  grid-area: item1;
}

.grid__item2 {
  background-color: red;
  grid-area: item2;
}

.grid__item3 {
  background-color: pink;
  grid-area: item3;
}

.grid__item4 {
  background-color: gold;
  grid-area: item4;
}
