.container
  header.header
    .logo ロゴ
    nav.nav
      ul.nav__list
        li.nav__item
          a(href="#") ナビ１
        li.nav__item
          a(href="#") ナビ２
        li.nav__item
          a(href="#") ナビ３
        li.nav__item
          a(href="#") ナビ４
  ul.article__list
    li.article__item
      article.article
    li.article__item
      article.article
    li.article__item
      article.article
    li.article__item
      article.article
    li.article__item
      article.article
    li.article__item
      article.article
    li.article__item
      article.article
    li.article__item
      article.article
    li.article__item
      article.article
  .sidenav

