.gallery
  -for (var i = 1; i<10; i++)
    if i < 10
      - var y = "0" + i
    else
      - var y =  i
    .gallery__item(v-bind:style="{gridArea: NumItem[" + [i - 1]+ "]}")
      img(src=image_path + "modal_thumb" + [y] + ".jpg")

button.button(v-on:click="handleClick") ボタン
p.p {{Num[1]}}
