ul.article__list
  li.article__item
    a(href="")
      article
        h2.article__title  タイトル
        p.article__text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  li.article__item
    a(href="")
      article
        h2.article__title  タイトル
        p.article__text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  li.article__item
    a(href="")
      article
        h2.article__title タイトル
        p.article__text テキストテキステキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  li.article__item
    a(href="")
      article
        h2.article__title タイトル
        p.article__text テキストテキステキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
