.swiper-container.gallery-top
  .swiper-wrapper
    .swiper-slide
      .swiper-slide__img
        img(src="https://placehold.jp/720x500.png")
    .swiper-slide
      .swiper-slide__img
        img(src="https://placehold.jp/320x500.png")
    .swiper-slide
      .swiper-slide__img
        img(src="https://placehold.jp/420x500.png")
    .swiper-slide
      .swiper-slide__img
        img(src="https://placehold.jp/520x500.png")
    .swiper-slide
      .swiper-slide__img
        img(src="https://placehold.jp/400x500.png")
    .swiper-slide
      .swiper-slide__img
        img(src="https://placehold.jp/720x500.png")
    .swiper-slide
      .swiper-slide__img
        img(src="https://placehold.jp/400x500.png")
    .swiper-slide
      .swiper-slide__img
        img(src="https://placehold.jp/220x500.png")
    .swiper-slide
      .swiper-slide__img
        img(src="https://placehold.jp/400x500.png")
    .swiper-slide
      .swiper-slide__img
        img(src="https://placehold.jp/320x500.png")

.swiper-button-next
.swiper-button-prev
