extends _layout.pug

block vars
    include ./_config.pug
    - var key = "top"
    - var page = pages[key]

block contents
    #app
        h2 page.title
        ul.tabMenu
            li.tabMenu__item(@click="isSelect('1')") All
            li.tabMenu__item(@click="isSelect('2')") 2
            li.tabMenu__item(@click="isSelect('3')") 3

        .tabContents
            .tabContents__block(v-show="isActive === '1'") こんてんつ１
            .tabContents__block(v-show="isActive === '2'") こんてんつ2
            .tabContents__block(v-show="isActive === '3'") こんてんつ３
        .swiper-slides
            .swiper-container.gallery-top
                .swiper-wrapper
                    .swiper-slide(style="background-image:url(/assets/img/thum01.jpg)")
                        p.swiper__text ねこ１
                    .swiper-slide(style="background-image:url(/assets/img/thum02.jpg)")
                        p.swiper__text ねこ２
                    .swiper-slide(style="background-image:url(/assets/img/thum03.jpg)")
                        p.swiper__text ねこ３
                    .swiper-slide(style="background-image:url(/assets/img/thum04.jpg)")
                        p.swiper__text ねこ４
                    .swiper-slide(style="background-image:url(/assets/img/thum05.jpg)")
                        p.swiper__text ねこ５
                    .swiper-slide(style="background-image:url(/assets/img/thum01.jpg)")
                        p.swiper__text ねこ６
                    .swiper-slide(style="background-image:url(/assets/img/thum02.jpg)")
                        p.swiper__text ねこ７
                    .swiper-slide(style="background-image:url(/assets/img/thum03.jpg)")
                        p.swiper__text ねこ８
                    .swiper-slide(style="background-image:url(/assets/img/thum04.jpg)")
                        p.swiper__text ねこ９
                // Add Arrows
                .swiper-button-next.swiper-button-white
                .swiper-button-prev.swiper-button-white
            .swiper-container.gallery-thumbs
                .swiper-wrapper
                    .swiper-slide(style="background-image:url(/assets/img/thum01.jpg)")
                    .swiper-slide(style="background-image:url(/assets/img/thum02.jpg)")
                    .swiper-slide(style="background-image:url(/assets/img/thum03.jpg)")
                    .swiper-slide(style="background-image:url(/assets/img/thum04.jpg)")
                    .swiper-slide(style="background-image:url(/assets/img/thum05.jpg)")
                    .swiper-slide(style="background-image:url(/assets/img/thum01.jpg)")
                    .swiper-slide(style="background-image:url(/assets/img/thum02.jpg)")
                    .swiper-slide(style="background-image:url(/assets/img/thum03.jpg)")
                    .swiper-slide(style="background-image:url(/assets/img/thum04.jpg)")


