.u- {
  &d- {
    &fx {
      display: flex;
    }
    &b {
      display: block;
    }
    &ib {
      display: inline-block;
    }
    &tb {
      display: table;
    }
    &tbc {
      display: table-cell;
    }
  }
}