.u- {
  &ai- {
    &s {
      align-items: start;
    }
    &c {
      align-items: center;
    }
    &e {
      align-items: end;
    }
  }
  &jc- {
    &c {
      justify-content: center;
    }
    &sb {
      justify-content: space-between;
    }
    &sa {
      justify-content: space-around;
    }
    &fs {
      justify-content: flex-start;
    }
    &fe {
      justify-content: flex-end;
    }
  }
  &fxd- {
    &-r {
      flex-direction: row;
    }
    &-rr {
      flex-direction: row-reverse;
    }
  }
}

